.env
.env.backup
.env.production
.phpunit.result.cache
*.log
/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
phpunit.xml
